<!DOCTYPE html>
<!-- worth a shot-->
<html>
    {% extends "toolbar.html" %}
    {%block content%}
<head>

</head>


<body>
    <h1>
        Ventajas de la scooters electricos:
    </h1>

    <p>
        <div class="container">
            <div class="row">
              <div class="col-sm">
                El scooters electricos es muy facil y barato para mantener y manejar.<br>
                El impuestos de la scooter electrico tambien muy barato para scooter electricos.
              </div>
              <div class="col-sm">
                One of three columns
              </div>
              <div class="col-sm">
                One of three columns
              </div>
            </div>
          </div>
      

    </p>


</body>
{% endblock content %}
</html>