
{% extends "toolbar.html" %}
    
{% block content %}
<head>
   
</head>
<body>

    <h1 style="color: aliceblue;">
        El Segway E110.A:
    </h1>
    <center>
    <img src="{{url_for('static', filename='pictures/E110A.webp')}}" width="800" height="400" alt="me">
</center>
    <p style="padding: 35px; color: rgb(255, 255, 255);">
        El producto es un scooter de electrico y tenga mucho espacio para las cosas. Es muy beneficial para el super mercado o otros 
        historias que tengas medio - muchos cosas. Tambien, esta scooter es muy efficiente porque es el electrico y no necesitan petroleo. 
        Otro ventaja de el scooter es resistente al agua y es muy perfecto para todos condiciones de tiempo. El scooter tamien tengan pantallas multiples para velocidad y petroleo.
        El scooter tenga 35 millas en uno cargo de noche y es muy impressivo. en cuanto al almacenamiento, el segway tiene 27 litros que también son realmente impresionantes.
        En todo, el scooter es muy realista en economico ahora con inflacion y muchos ciudades.
        Por el momento, no se ha determinado un precio, sin embargo, creemos que no quedará decepcionado con nuestro producto.
    
    </p>
</body>
{% endblock content %}
