<!DOCTYPE html> 
<!--gonna put the toolbar here like i did with the ast app just gonna move some names around-->

<html>
    <head> 
        
        <link rel="stylesheet" href="/static/css/bootstrap.css">
    </head>
    <body style='background-image: url("/static/pictures/help.jpg");'> <!--were just gonna do this the old way bc theres only one page-->
        <nav class="navbar navbar-expand-sm bg-dark justify-content-left">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/sources">Sources</a>
                </li>
             <li class="nav-item">
                <a class="nav-link" href="/home">ventajas</a>
            </li>
            </ul>
        </nav>

        </div>
        {%block content%}
        {%endblock content%}
    </body>
</html>
